<div class="row">
  <div class="col-md-5">
    <div class="card-body" >
      <h6 class="card-title text-right">Un coach pour nos collaborateurs</h6>
      <p class="card-text text-right">
        Développer l'ambition ne s'improvise pas ! notre coach prépare la posture de nos consultants.
        L'équilibre de leur projet professionnel, de leur vie personnelle, et de leur passion, leur permet de se développer mentalement.
        <br><br><span class="font-weight-bold"> Ils sont conscients de leur potentiel et désirent atteindre l'excellence
        grâce à l'entretien constant de l'ambition.</span>
      </p>
    </div>
  </div>
  <img src="assets/images/USFORYOU_Client.png" class="col-md-5" alt="...">
  <img src="assets/images/USFORYOU_Developpeur.png" class="col-md-5">
  <div class="col-md-5">
    <div class="card-body">
      <h6 class="card-title text-right">L'esprit d'équipe et de réussites en commun !</h6>
      <p class="card-text text-left">
        Les collaborateurs sont intéressés au projet de l'entreprise. Ils animent leur communauté par domaine et
        veillent sur nos choix technologiques.
        <br><br><span class="font-weight-bold">Rien ne se réussit sans partage de connaissance.</span>
      </p>
    </div>
  </div>
</div>

