<div id="box" class="row">
  <img src="assets/images/U4U_excellence_code.png" class="card-img"/><br><br>
  <div class="col-lg-6">
    <div class="card-body">
      <p class="card-text">
        « Nous sommes une Entreprise du Service Numérique, dont l’ambition
      est de délivrer des Compétences et solutions High-Level. »
      </p>
      <h6>Notre état d'esprit ?</h6>

      <p class="card-text">
      Nous recherchons et décryptons les Nouveautés & changements technologiques.
      Nous identifions les marchés émergents et préparons nos collaborateurs à l’excellence !
      L’excellence ne signifie pas être parfait, mais donner le meilleur de soi-même...
      </p>
        <p class="card-text">Nous sommes...</p>
        <h6>" Développeur d'ambitions !"</h6>
    </div>
    </div>
  </div>




