<div></div>

  <img src="assets/images/U4Y_NosOffresDeCompetences.png" class="card-img"/>


  <div id="data"></div>

  <div class="container-lg">
    <img src="assets/images/U4U_Carriere.png" class="card-img"/>
  </div>
  <br><br>

  <div id="digital"></div>

  <div class="container-lg">
    <img src="assets/images/U4Y_Digital.png" class="card-img"/>
  </div>
  <br><br>

  <div id="it-risk"></div>

  <div class="container-lg">
    <img src="assets/images/U4Y_ItRisk.png" class="card-img"/>
  </div>

